<div class="container-fluid">
  <div class="row">
    <header class="bg-dark py-2">
      <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
              <h1 class="display-4 fw-bolder">Projet</h1>
              <p class="lead fw-normal text-white-50 mb-0">zoom sur (NOM DU PROJET)</p>
          </div>
      </div>
  </header>
  </div>
  <div class="container">

  <div class="row mt-5">
    <div class="col col-8" >
      <img style=" max-width: 600px;" src="assets/images/18157518.jpg" alt="">
    </div>
    <div class="col col-4">
      <div class="card present-card mb-2 p-3">
        <div class="row">
          <div class="col-1 offset-10">

            <span class="badge rounded-pill bg-warning text-dark">
              <i class="pi pi-star" ></i>
            </span>
          </div>
        </div>

      <h1>Google</h1>
      <h3 class="text-secondary">date de sortie</h3>
      <p>
      Ce projet est une application web innovante conçue pour améliorer la productivité des utilisateurs. Il offre une interface intuitive et des fonctionnalités avancées pour gérer efficacement les tâches quotidiennes. Développé avec les dernières technologies, ce projet vise à simplifier la gestion de projet et à optimiser les performances des équipes.
      </p>
    </div>
      <div class="row">
        <div class="col-6 mb-3">
          <div class="card presentcard" >
            <div class="card-body">
              <h5 class="card-title">Créateur</h5>
              <h6 class="card-subtitle mb-2 text-muted">(nom du createur)</h6>
              <i class="pi pi-user" style="font-size: 5.5rem"></i>
            </div>
          </div>

        </div>
        <div class="col-6 mb-3">
          <div class="card presentcard" >
            <div class="card-body">
              <h5 class="card-title">Catégories</h5>
              <br>
              <i class="pi pi-mobile" style="font-size: 5.5rem"></i>
              <!-- <i class="pi pi-desktop" style="font-size: 5.5rem"></i> -->

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-3">
          <div class="card presentcard" >
          <div class="card-body">
            <h4 class="card-title">60
              <i class="pi pi-star" ></i></h4>
          </div>
        </div>
      </div>
        <div class="col-6 mb-3">
          <div class="card presentcard" >
            <div class="card-body">
              <h4 class="card-title">
                Lien
                <i class="pi-external-link" ></i>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
  <div class="row">
    <section >
      <div class="container my-5 py-5 text-body">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-lg-10 col-xl-8">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <h4 class="text-body mb-0">Commentaires</h4>

            </div>

            <div class="card commentcard mb-3">
              <div class="card-body">
                <div class="d-flex flex-start">
                  <p-chip label="Amy Elsner" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" alt="Avatar image" />
                  <div class="w-100">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h6 class="text-primary fw-bold mb-0">
                        <span class="text-body ms-2">Hmm, This poster looks cool</span>
                      </h6>
                      <p class="mb-0">2 days ago</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex flex-row">
                        <i class="fas fa-star text-warning me-2"></i>
                        <i class="far fa-check-circle" style="color: #aaa;"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card commentcard mb-3">
              <div class="card-body">
                <div class="d-flex flex-start">
                  <p-chip label="Amy Elsner" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" alt="Avatar image" />

                  <div class="w-100">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h6 class="text-primary fw-bold mb-0">
                        the_sylvester_cat
                        <span class="text-body ms-2">Loving your work and profile! </span>
                      </h6>
                      <p class="mb-0">3 days ago</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex flex-row">
                        <i class="far fa-check-circle text-primary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card commentcard mb-3">
              <div class="card-body">
                <div class="d-flex flex-start">
                  <p-chip label="Amy Elsner" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" alt="Avatar image" />

                  <div class="w-100">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h6 class="text-primary fw-bold mb-0">
                        mindyy_def
                        <span class="text-body ms-2">Really cool Which filter are you using?
                        </span>
                      </h6>
                      <p class="mb-0">3 days ago</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex flex-row">
                        <i class="fas fa-user-plus" style="color: #aaa;"></i>
                        <i class="far fa-star mx-2" style="color: #aaa;"></i>
                        <i class="far fa-check-circle text-primary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card commentcard mb-3">
              <div class="card-body">
                <div class="d-flex flex-start">
                  <p-chip label="Amy Elsner" image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" alt="Avatar image" />

                  <div class="w-100">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                      <h6 class="text-primary fw-bold mb-0">
                        t_anya
                        <span class="text-body ms-2"><span class="text-primary">macky_lones</span>
                          <span class="text-primary">rashida_jones</span> Thanks
                        </span>
                      </h6>
                      <p class="mb-0">4 days ago</p>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex flex-row">
                        <i class="far fa-check-circle text-primary"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
