.link-grey { color: #aaa; } .link-grey:hover { color: #00913b; }

.commentcard
{

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body{
  border: none;
}

.presentcard
{

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
